  ghp_yEYgqYYgYxxxyyyaaA3edabcd123qY0JTYvg
  authToken: ENC(MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEuD3O/xXXxx8EpAAAAe1jJudnP31YL7MGbxcVwRMnylnA/gw7ty2umsdzluFxwqOGO7xr63pozNjOfSzmJUoDuQ==)"
    [InlineData("file.txt", "<add name=\"MainConfigStoreBootstrap\" connectionString=\"server=qa.db.atlas.eftours.com; database=AtlasConfig; user id=AtlasConfigUser2; password=Encrypted:V1:8DK3t/ViF6MBFaaAIPIt9f7/xpEqANhyvdSZ1bL+N2Y=\" />")]
    Password = "12345"
    "ENTRYPOINT [\"java\",\"-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5010\",\"-Deth.aws.region=ap-southeast-1\",\"-Deth.aws.secretaccesskey=tx/pgAbc0984bDw3YQw1bpWI+hFU2Ab4GyFOxQ6D\",\"-Deth.aws.accesskeyid=AKIAUHD5BJCABKXYZY1Z\",\"-Deth-blockchain-service.node.socket=wss://mainnet.infura.io/ws/v3/a383421d72e84fc18f91b8f03dda18ba\",\"-Deth-blockchain-service.node.http=https://mainnet.infura.io/v3/a383421d72e84fc18f91b8f03dda18ba\",\"-Dbitcoind.rpc.port=8332\", \"-jar\", \"-Dcassandra.driver.localdc=datacenter1\",\"-Dspring.profiles.active=docker\",\"-Ddatabase.username=user\",\"-Ddatabase.jdbcUrl=jdbc:mysql://mysql:3306/db\",\"-Ddatabase.password=password\",\"-Ddatabase.name=wallet_service\", \"-Dcom.sun.management.jmxremote.port=32020\", \"-Dcom.sun.management.jmxremote.rmi.port=32020\", \"-Djava.rmi.server.hostname=127.0.0.1\", \"-Dcom.sun.management.jmxremote.ssl=false\", \"-Dcom.sun.management.jmxremote.authenticate=false\", \"transaction-service.jar\"]",

